<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <video src="backgroundVideo/bgVideo.mp4" muted loop autoplay></video>
    <div id="left">
        <div>
            <h2 class="planetName">Mercury</h2>
            <button class="planetButton" id="mercury">
                <img src="planets/mercury.png" alt="" class="buttonPlanet">
            </button>
        </div>

        <div>
            <h2 class="planetName">Venus</h2>
            <button class="planetButton" id="venus">
                <img src="planets/venus.png" alt="" class="buttonPlanet">
            </button>
        </div>

        <div>
            <h2 class="planetName">Earth</h2>
            <button class="planetButton" id="earth">
                <img src="planets/earth.png" alt="" class="buttonPlanet">
            </button>
        </div>

        <div>
            <h2 class="planetName">Mars</h2>
            <button class="planetButton" id="mars">
                <img src="planets/mars.png" alt="" class="buttonPlanet">
            </button>
        </div>

        <div>
            <h2 class="planetName">Jupiter</h2>
            <button class="planetButton" id="jupiter">
                <img src="planets/jupiter.png" alt="" class="buttonPlanet">
            </button>
        </div>
    
        <div>
            <h2 class="planetName">Saturn</h2>
            <button class="planetButton" id="saturn">
                <img src="planets/saturn.png" alt="" class="buttonPlanet">
            </button>
        </div>

        <div>
            <h2 class="planetName">Uranus</h2>
            <button class="planetButton" id="uranus">
                <img src="planets/uranus.png" alt="" class="buttonPlanet">
            </button>
        </div>

        <div>
            <h2 class="planetName">Neptune</h2>
            <button class="planetButton" id="neptune">
                <img src="planets/neptune.png" alt="" class="buttonPlanet">
            </button>
        </div>
    </div>
    
    <div id="top">
        <h1>Milky Way Galaxy</h1>
        <p>Discover our galaxy with @code.withenes !</p>
        <button>Read More!</button>
    </div>

    <div id="right">
        <div id="planet-container">
            <img src="planets/mercury.png" alt="" class="planetImg">
            <img src="planets/venus.png" alt="" class="planetImg">
            <img src="planets/earth.png" alt="" class="planetImg">
            <img src="planets/mars.png" alt="" class="planetImg">
            <img src="planets/jupiter.png" alt="" class="planetImg">
            <img src="planets/saturn.png" alt="" class="planetImg">
            <img src="planets/uranus.png" alt="" class="planetImg">
            <img src="planets/neptune.png" alt="" class="planetImg">
        </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>